import(methods)

importFrom(IRanges, IRanges, "values<-", values, elementMetadata, ranges,	
	"elementMetadata<-", "%in%", as.list)

importClassFrom(snpStats, "SnpMatrix")
exportClass("SnpMatrix")
importFrom(snpStats, impute.snps)
export(impute.snps)

importFrom(BiocGenerics, mget, match)

importClassFrom(GenomicRanges, GRanges, GenomicRanges, GenomicRangesORmissing)
importClassFrom(IRanges, DataFrame)

importFrom(GenomicRanges, GRanges, seqnames)
importFrom(IRanges, RangedData, mcols, values, "mcols<-", overlapsAny, DataFrame)

exportClass(gwaswloc)
exportMethods("getRsids", "[", "getTraits", "subsetByChromosome", "subsetByTraits")

export(locs4trait, topTraits, elementMetadata, ranges, chklocs, riskyAlleleCount)
export("getRsids", "getTraits", "subsetByChromosome", "subsetByTraits",
   "obo2graphNEL", "makeCurrentGwascat", "traitsManh", "gwcex2gviz", 
   values, mcols, "mcols<-", seqnames, match, overlapsAny, DataFrame)

