import(methods)

import(S4Vectors)
import(GenomeInfoDb)

importFrom(IRanges, IRanges, ranges, "%in%", as.list)

importClassFrom(snpStats, "SnpMatrix")
exportClass("SnpMatrix")
importFrom(snpStats, impute.snps, ld)
export(impute.snps)

importFrom(BiocGenerics, mget, match)

importClassFrom(GenomicRanges, GRanges, GenomicRanges, GenomicRangesORmissing)

importFrom(GenomicRanges, GRanges, show)
importFrom(IRanges, RangedData, overlapsAny)
importFrom(rtracklayer, import, liftOver)
importFrom(Rsamtools, TabixFile, open.TabixFile, close.TabixFile)
importFrom(BiocGenerics, cbind)

exportClass(gwaswloc)
exportMethods("getRsids", "[", "getTraits", "subsetByChromosome", "subsetByTraits", show)

export(locs4trait, topTraits, elementMetadata, ranges, chklocs, riskyAlleleCount)
export("getRsids", "getTraits", "subsetByChromosome", "subsetByTraits",
   "obo2graphNEL", "makeCurrentGwascat", "traitsManh", "gwcex2gviz", 
   values, mcols, "mcols<-", seqnames, match, 
   overlapsAny, DataFrame, bindcadd_snv, show, ldtagr)

importFrom(Gviz, GeneRegionTrack, DataTrack,
  displayPars, "displayPars<-", "plotTracks", GenomeAxisTrack)

export(metadata)

importFrom(AnnotationHub, AnnotationHub, query)
