import(methods)
import(graph)
import(Homo.sapiens)
import(VariantAnnotation)
export(nodeData, nodes, ugraph, subGraph, adj)
importFrom(gQTLstats, queryVCF)
import(ggplot2)
importFrom(ggbio, autoplot)

import(S4Vectors)
import(GenomeInfoDb)
import(GenomicFeatures)
importFrom(AnnotationDbi, select, mapIds)

importFrom(IRanges, IRanges, ranges, "%in%", as.list)

importClassFrom(snpStats, "SnpMatrix")
exportClass("SnpMatrix")
importFrom(snpStats, impute.snps, ld, col.summary)
export(impute.snps)

importFrom(BiocGenerics, mget, match)

importClassFrom(GenomicRanges, GRanges, GenomicRanges, GenomicRanges_OR_missing)

importFrom(GenomicRanges, GRanges, show, findOverlaps)
importFrom(IRanges, RangedData, overlapsAny)
importFrom(rtracklayer, import, liftOver)
importFrom(Rsamtools, TabixFile, open.TabixFile, close.TabixFile)
importFrom(BiocGenerics, cbind)

exportClass(gwaswloc)
exportMethods("getRsids", "[", "getTraits", "subsetByChromosome", "subsetByTraits", show)

export(locs4trait, topTraits, chklocs, riskyAlleleCount)
export("getRsids", "getTraits", "subsetByChromosome", "subsetByTraits",
   "obo2graphNEL", "makeCurrentGwascat", "traitsManh", "gwcex2gviz", 
   bindcadd_snv, show, ldtagr, uri2node, node2uri)

importFrom(Gviz, GeneRegionTrack, DataTrack,
  displayPars, "displayPars<-", "plotTracks", GenomeAxisTrack)

export(metadata)

importFrom(AnnotationHub, AnnotationHub, query)

importFrom(SummarizedExperiment, rowRanges)
importFrom("utils", "data", "read.delim", "sessionInfo")
